

body {
  background: #e8e8e8;
  color: black;

}

.main {
    z-index: 1;
    top: 15px;
    width: 1000px;
    left: 0px;
    position: relative;

}

p {
  /* padding: 10px; */
  justify-content:space-around;
}

img {

}

h2 {
  font-family: titling-gothic-fb, sans-serif;
  font-weight: 200;
  font-style: normal;
}

a:focus, button:focus {
  outline: 0;
}

a:hover {
  color: #ff6e21;
  border-color: black;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  font-family: titling-gothic-fb, sans-serif;
  font-weight: 200;
  font-style: normal;
  border-bottom: 1px solid black;
  line-height: 1em;
}

a.bold {
  font-weight: bold;
}

a.inline  {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  display: inline-block !important;
  margin-bottom: 0 !important;
}

a.fullwidth  {
  display: block !important;
  font-size: 1.525em;
}

a.extern {

  font-size: 30px;

}

html {
  scroll-behavior: smooth;
}

#bg_images img {
     position: absolute;
   }

   #bg1 {
     top: 200%;
     left: 40%;
     border: .1rem solid;

   }
   #bg1:hover {
      z-index: 4;

   }

   #bg2 {
     top: 20%;
     left: 15%;
     border: .1rem solid;

   }
   #bg2:hover {
      z-index: 4;

   }

   #bg3 {
     top: 100%;
     left: 10%;
     border: .1rem solid;

   }
   #bg3:hover {
      z-index: 4;
   }

   #bg4 {
     top: 240%;
     left: 1%;
     border: .1rem solid;

   }
   #bg4:hover {
      z-index: 4;
   }

   #bg5 {
     top: 1050%;
     left: 20%;
     border: .1rem solid;

   }
   #bg5:hover {
      z-index: 4;
   }

   #bg6 {
     top: 220%;
     right: 7%;
     border: .1rem solid;

   }
   #bg6:hover {
      z-index: 4;
   }

   #bg7 {
     top: 320%;
     right: 5%;
     border: .1rem solid;

   }
   #bg7:hover {
      z-index: 4;
   }

   #bg8 {
     top: 300%;
     right: 40%;
     border: .1rem solid;
   }

   #bg8:hover {
      z-index: 4;

   }

   #bg9 {
     top: 350%;
      right: 25%;
      border: .1rem solid;

   }
   #bg9:hover {
      z-index: 4;
   }

   #bg10 {
     top: 1250%;
      left: 20%;
      border: .1rem solid;

   }
   #bg10:hover {
      z-index: 4;
   }

   #bg11 {
     top: 1450%;
      left: 25%;

      border: .1rem solid;

   }
   #bg11:hover {
      z-index: 4;
   }

   #bg12 {
     top: 535%;
      right: 40%;
      border: .1rem solid;

   }
   #bg12:hover {
      z-index: 4;
   }

   #bg13 {
     top: 436%;
      right: 6%;
      border: .1rem solid;

   }
   #bg13:hover {
      z-index: 4;
   }

   #bg14 {
     top: 570%;
      right: 10%;
      border: .1rem solid;

   }
   #bg14:hover {
      z-index: 4;
   }
   #bg15 {
     top: 565%;
      left: 20%;
      border: .1rem solid;

   }
   #bg15:hover {
      z-index: 4;
   }

   #bg16 {
     top: 560%;
      right: 2%;
      border: .1rem solid;

   }
   #bg16:hover {
      z-index: 4;
   }

   #bg17 {
     top: 850%;
      right: 40%;
      border: .1rem solid;

   }
   #bg17:hover {
      z-index: 4;
   }

   #bg18 {
     top: 1150%;
      right: 8%;
      border: .1rem solid;

   }
   #bg18:hover {
      z-index: 4;
   }

   #bg19 {
     top: 670%;
      left: 2%;
      border: .1rem solid;

   }
   #bg19:hover {
      z-index: 4;
   }
   #bg20 {
     top: 660%;
      left: 30%;
     border: .1rem solid;

   }
   #bg20:hover {
      z-index: 4;
   }
   #bg21 {
     top: 710%;
      left: 10%;
      border: .1rem solid;

   }
   #bg21:hover {
      z-index: 4;
   }

   #bg22 {
     top: 698%;
      right: 10%;
      border: .1rem solid;

   }
   #bg22:hover {
      z-index: 4;
   }

   #bg23 {
     top: 760%;
      right: 30%;
      border: .1rem solid;

   }
   #bg23:hover {
      z-index: 4;
   }

   #bg24 {
     top: 790%;
      right: 5%;
      border: .1rem solid;

   }
   #bg24:hover {
      z-index: 4;
   }

   #bg25 {
     top: 990%;
      right: 5%;
      border: .1rem solid;

   }
   #bg25:hover {
      z-index: 4;
   }

   #bg26 {
     top: 970%;
      right: 25%;
      border: .1rem solid;

   }
   #bg26:hover {
      z-index: 4;
   }

   #bg27 {
     top: 820%;
      right: 25%;
      border: .1rem solid;

   }
   #bg27:hover {
      z-index: 4;
   }
   #bg28 {
     top: 1200%;
      left: 5%;
      border: .1rem solid;

   }
   #bg28:hover {
      z-index: 4;
   }

   #bg29 {
     top: 1375%;
      left: 34%;
      border: .1rem solid;

   }
   #bg29:hover {
      z-index: 4;
   }

   #bg30 {
     top: 460%;
      left: 4%;
      border: .1rem solid;

   }
   #bg30:hover {
      z-index: 4;
   }

   #bg31 {
     top: 1520%;
      left: 10%;
      border: .1rem solid;

   }
   #bg31:hover {
      z-index: 4;
   }

   #bg32 {
     top: 1575%;
      left: 35%;
      border: .1rem solid;

   }
   #bg32:hover {
      z-index: 4;
   }

   #bg33 {
     top: 1645%;
      left: 9%;
      border: .1rem solid;

   }
   #bg33:hover {
      z-index: 4;
   }


.wrapper {

}

/* Beginning of artifact  */


 .main-title {
  position: static;
  padding-left:20px;
  font-size: 40px;
  font-family: titling-gothic-fb, sans-serif;
  font-weight: 400;
  font-style: normal;


}


.sect-title {
  font-size: 25px;
  line-height: 20px;
  font-family: titling-gothic-fb, sans-serif;
  font-weight: 200;
  font-style: normal;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid;
  white-space: nowrap;
}

.nuclear-section1 {
    position: relative;
    width: 50vw;
    left: calc(100vw - 770px);
    z-index: 3;
    /* padding-bottom: 75px;
    padding-right: 30; */
    opacity: 1;
    float: left;
    overflow: hidden;
    transform: translate(-0%,0vh);
    background-color: #fff;
    border: 2px solid #000;
    border-width: 2px 2px 2px 2px;
    transition: 0s ease;
    -webkit-transition: 0s ease;
    transition: 0s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
}

.section1-body {
  padding: 5px 15px 5px 15px;
  font-family: titling-gothic-fb, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 16px

}


@media only screen and (min-width: 768px) {
.nuclear-section2  {
    position: relative;
    width: calc(745px);
}



.nuclear-section2 {
    position: relative;
    width: 50vw;
    left: 20px;
    z-index: 3;
    margin-top: 100px;
    opacity: 1;
    float: left;
    overflow: hidden;
    transform: translate(-0%,0vh);
    background-color: #fff;
    border: 2px solid #000;
    border-width: 2px 2px 2px 2px;
    transition: 0s ease;
    -webkit-transition: 0s ease;
    transition: 0s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
}

.section2-body {
  padding: 5px 15px 5px 15px;
  font-family: titling-gothic-fb, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 16px
  text-align: justify;

}

.section2-figure {
  text-align: left;
  font-family: titling-gothic-fb, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 12px

}

.nuclear-section3 {
    position: relative;
    width: calc(50vw);
    left: calc(100vw - 770px);
    z-index: 3;
    margin-top: 100px;
    /* padding-bottom: 75px;
    padding-right: 30; */
    opacity: 1;
    float: left;
    overflow: hidden;
    transform: translate(-0%,0vh);
    background-color: #fff;
    border: 2px solid #000;
    border-width: 2px 2px 2px 2px;
    transition: 0s ease;
    -webkit-transition: 0s ease;
    transition: 0s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
}

.section3-body {
  padding: 5px 15px 5px 15px;
  font-family: titling-gothic-fb, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 16px
  text-align: justify;

}

#horizontal-red {
  overflow-x: scroll;
  overflow-y: scroll;
    white-space: nowrap;
    background: #e8e8e8;
}

#sub-id {
  max-height: 250px;
  overflow-y: scroll;
}

 .sub-size{
  padding: 10px;
  justify-content:space-around;
  font-size: 14px;
  border: .1rem dashed;
  white-space: normal;
   word-break: break-word;
}

.cover-div {
  height: 100vh;
   max-width: 640px;
   margin: 20px;
   display: inline-block;
   vertical-align: middle;
   background: #0000;

}


.nuclear-section4 {
    position: relative;
    width: 50vw;
    left: 20px;
    padding-bottom: 0px;
    margin-top: 100px;
    z-index: 3;
    opacity: 1;
    float: left;
    overflow: hidden;
    transform: translate(-0%,0vh);
    background-color: #fff;
    border: 2px solid #000;
    border-width: 2px 2px 2px 2px;
    transition: 0s ease;
    -webkit-transition: 0s ease;
    transition: 0s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
}

.section4-body {
  margin:10px;
  padding-right:5px;

}

.nuclear-section5 {
  position: relative;
  width: 50vw;
  left: calc(100vw - 770px);
  z-index: 3;
  margin-top: 100px;
  /* padding-bottom: 75px;
  padding-right: 30; */
  opacity: 1;
  float: left;
  overflow: hidden;
  transform: translate(-0%,0vh);
  background-color: #fff;
  border: 2px solid #000;
  border-width: 2px 2px 2px 2px;
  transition: 0s ease;
  -webkit-transition: 0s ease;
  transition: 0s ease;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
}

.section5-body {
  padding: 5px 15px 5px 15px;
  font-family: titling-gothic-fb, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 16px
  text-align: justify;

}

.section5-figure {
  font-size: 12px;
  text-align: left;
  font-family: titling-gothic-fb, sans-serif;
  font-weight: 200;
  font-style: normal;

}

.section5-vid {
  display:block;
    margin: 1.5em;


}


.nuclear-section6 {
  position: relative;
  width: 50vw;
  left: 20px;
  padding-bottom: 0px;
  margin-top: 100px;
  z-index: 3;
  opacity: 1;
  float: left;
  overflow: hidden;
  transform: translate(-0%,0vh);
  background-color: #fff;
  border: 2px solid #000;
  border-width: 2px 2px 2px 2px;
  transition: 0s ease;
  -webkit-transition: 0s ease;
  transition: 0s ease;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
}

.section6-body {
  margin:10px;
  padding-right:5px;

}


.nuclear-section7 {
  position: relative;
  width: 50vw;
  left: calc(100vw - 770px);
  z-index: 3;
  margin-top: 100px;
  margin-bottom: 50px;
  /* padding-bottom: 75px;
  padding-right: 30; */
  opacity: 1;
  float: left;
  overflow: hidden;
  transform: translate(-0%,0vh);
  background-color: #fff;
  border: 2px solid #000;
  border-width: 2px 2px 2px 2px;
  transition: 0s ease;
  -webkit-transition: 0s ease;
  transition: 0s ease;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
}

.section7-body {
  padding: 5px 15px 5px 15px;
  font-family: titling-gothic-fb, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 16px
  text-align: justify;

}

.article-image1 {
    position: relative;
    width: calc(1024px);
    height: 600px;
    left: calc(300px);
    top: -202px;
    opacity: 1;
    overflow: hidden;
    background-color: #fff;
    /* border: 2px solid #000;
    border-width: 2px 2px 2px 2px; */
    z-index: 2;
    transition: 0s ease;
    -webkit-transition: 0s ease;
    -moz-transition: 0s ease;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
}

.rossing{
  width: 1024px;
  height: 600px;
  object-fit: cover;
}

.article-image2 {
    position:relative;
    width: calc(680px);
    height: 800px;
    left: calc(267px);
    top: -200px;
    opacity: 1;
    overflow: hidden;
    /* border: 2px solid #000;
    border-width: 2px 2px 2px 2px; */
    z-index: 2;
    transition: 0s ease;
    -webkit-transition: 0s ease;
    -moz-transition: 0s ease;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
}

#cask-patent {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.par-images {
  max-width: 100%;
    height: auto;
  display:block;
    margin:auto;

}

iframe: {
  margin-top: 10px;
}

@media screen and (max-width: 1234px) and (min-width: 1001px)
.article-image:before {
    -webkit-transform-origin: 700px 983px;
    transform-origin: 700px 983px;
}



.article-image1:hover {
z-index: 3;
}

.article-image2:hover {
z-index: 4;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border: 0.25rem solid;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.text-update{
  overflow: hidden;
  transform: translateX(100%);
  animation: moving 28s linear infinite;
  display: inline-block;

}

#map{
  height:480px;
  width:100%;
}

@keyframes moving {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
